# Factores de riesgo
Este proyecto se corresponde al trabajo final del curso de Data Science dictado por la Fundación YPF en el año 2024.

## Objetivos del proyecto
Desarrollar un modelo predictivo para identificar individuos con alto riesgo de desarrollar enfermedades crónicas (como hipertensión, diabetes, colesterol alto) basándose en sus comportamientos y condiciones de vida.

## Setup de archivos

### Imports

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as skl

from utils.funcions import (
    calcular_nulos_y_porcentaje
)

### Lectura de datasets

In [ ]:
# Conecto drive
from google.colab import drive
drive.mount('/content/drive')

# Leo el archivo
friesgo_2018 = pd.read_csv('/content/drive/MyDrive/INGENIAS/TrabajoP/bd/friesgo2018.txt', delimiter = '|')

In [ ]:
## Leo el archivo localmente
friesgo_2018 = pd.read_csv('datasets/friesgo2018.txt', delimiter = '|')

## Analizando el dataset

In [10]:
# Determino filas y columnas
friesgo_2018.shape

(29224, 287)

In [12]:
# Obtengo las 5 primeras filas del dataset
friesgo_2018.head()

,id,cod_provincia,region,tamanio_aglomerado,aglomerado,localidades_150,submuestra,bhcv01,bhcv02,bhcv03,...,glucemia_elevada,prevalencia_glucemia_elevada_combinada,findrisc,bimq06,bimq06_01,colesterol_elevado,prevalencia_colesterol_combinada,wf1p,wf2p,wf3p
0,1128639,2,1,1,1,1,1,3,2,1,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2378,4464,0
1,1709939,2,1,1,1,1,0,1,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3588,0,0
2,6874130,2,1,1,1,1,0,3,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2740,0,0
3,10319375,2,1,1,1,1,1,3,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,493,0,0
4,11140857,2,1,1,1,1,0,3,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016,0,0

##  Evaluacion de columnas del dataset

Vamos a agrupar las columnas por temática, manteniendo ciertas columnas que permiten la identificacion del registro (como el id) y aquellas necesarias para realizar analisis, tales como variables demograficas.
Por cada temática:

*   Visualizo las primeras filas
*   Renombro columnas y evaluo los nulos
*   Calculo de porcentaje de faltantes por columna

### Tabaquismo
Agregar detalle de columnas implicadas en este dataset.

In [ ]:
ubicacion_id = friesgo_2018.iloc[:,0:7]
#ubicacion_id.head(20)
calcular_nulos_y_porcentaje(ubicacion_id)

In [ ]:
#caracteristicas del encuestado, sexo, nivel de instruccion rango etario, etc.
caracteristicas_encuestado = friesgo_2018.iloc[:,51:65]
#caracteristicas_encuestado.head(20)
calcular_nulos_y_porcentaje(caracteristicas_encuestado)

In [ ]:
saludgeneral_actfisica  = friesgo_2018.iloc[:,73:97]
#saludgeneral_actfisica.head(20)
calcular_nulos_y_porcentaje(saludgeneral_actfisica)

In [ ]:
tabaquismo = friesgo_2018.iloc[:,98:139]
#tabaquismo.head(20)
calcular_nulos_y_porcentaje(tabaquismo)

In [ ]:
hipertension = friesgo_2018.iloc[:,140:159]
#hipertension.head(20)
calcular_nulos_y_porcentaje(hipertension)

In [ ]:
pesocorporal = friesgo_2018.iloc[:,160:168]
#pesocorporal.head(20)
calcular_nulos_y_porcentaje(pesocorporal)

In [ ]:
alimentacion = friesgo_2018.iloc[:,169:186]
#alimentacion.head(20)
calcular_nulos_y_porcentaje(alimentacion)

In [ ]:
colesterol = friesgo_2018.iloc[:,187:194]
#colesterol.head(20)
calcular_nulos_y_porcentaje(colesterol)

In [ ]:
consumo_alcohol = friesgo_2018.iloc[:,195:217]
#consumo_alcohol.head(20)
calcular_nulos_y_porcentaje(consumo_alcohol)

In [ ]:
diabetes = friesgo_2018.iloc[:,218:236]
#diabetes.head(20)
calcular_nulos_y_porcentaje(diabetes)

In [ ]:
mediciones_antropometricas = friesgo_2018.iloc[:,252:273]
#mediciones_antropometricas.head(20)
calcular_nulos_y_porcentaje(mediciones_antropometricas)

In [ ]:
mediciones_bioquimicas = friesgo_2018.iloc[:,274:283]
#mediciones_bioquimicas.head(20)
calcular_nulos_y_porcentaje(mediciones_bioquimicas)

In [ ]:
#busco el indice de una columna
friesgo_2018.columns.get_loc('cobertura_salud')

65

In [ ]:
#cuento cuantas columnas tiene cada tabla a lo vago
cuenta1 = ubicacion_id.shape
cuenta2 = caracteristicas_encuestado.shape
cuenta3 = saludgeneral_actfisica.shape
cuenta4 = tabaquismo.shape
cuenta5 = hipertension.shape
cuenta6 = pesocorporal.shape
cuenta7 = alimentacion.shape
cuenta8 = colesterol.shape
cuenta9 = consumo_alcohol.shape
cuenta10 = diabetes.shape
cuenta11 = mediciones_antropometricas.shape
cuenta12 = mediciones_bioquimicas.shape
print(cuenta1)
print(cuenta2)
print(cuenta3)
print(cuenta4)
print(cuenta5)
print(cuenta6)
print(cuenta7)
print(cuenta8)
print(cuenta9)
print(cuenta10)
print(cuenta11)
print(cuenta12)

(29224, 7)
(29224, 14)
(29224, 24)
(29224, 41)
(29224, 19)
(29224, 8)
(29224, 17)
(29224, 7)
(29224, 22)
(29224, 18)
(29224, 21)
(29224, 9)